
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94.1%; /* #F0F0F0 */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 197 78% 52%; /* #29ABE2 */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 25 91% 54%; /* #F26419 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 158 64% 40%;
    --success-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 197 78% 52%;
    --radius: 0.75rem;
    --chart-1: 197 78% 52%;
    --chart-2: 25 91% 54%;
    --chart-3: 158 64% 40%;
    --chart-4: 280 50% 60%;
    --chart-5: 48 96% 61%;
  }

  .dark {
    --background: 215 28% 9%;
    --foreground: 0 0% 98%;
    --card: 215 28% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 235 20% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 78% 52%;
    --primary-foreground: 0 0% 98%;
    --secondary: 215 28% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 28% 20%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 25 91% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 40.6%;
    --destructive-foreground: 0 0% 98%;
    --success: 158 64% 40%;
    --success-foreground: 0 0% 98%;
    --border: 215 28% 20%;
    --input: 215 28% 24%;
    --ring: 197 78% 52%;
    --chart-1: 197 78% 52%;
    --chart-2: 25 91% 60%;
    --chart-3: 158 64% 40%;
    --chart-4: 280 50% 60%;
    --chart-5: 48 96% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
